.showcase {
    background: url(../img/showcase-image.jpg) no-repeat -900px 0;
    overflow: auto;
    > .wrap-simular-financiamento {
        width: 300px;
        background-color:rgba($color: #181717, $alpha: 0.6);
        float: left;
        margin-left: $margin-wee;
        margin-top: $margin-base;
        margin-bottom: $margin-extra;
        padding: 20px 16px 30px;
        font-family: $font-family-base;
        > .simular-financiamento {
            text-align: center;
            color: #fff;
            padding-bottom: $margin-base;
            margin-bottom: $margin-base;
            border-bottom: 1px solid #797979;
            > .title {
                font-size: 18px;
                text-transform: uppercase;
            }
            > .subtitle {
                font-size: $font-size-small;
                margin-top: $margin-tiny;
            }
        }
        > .form {
            width: 100%;
            > .form-item {
                width: 100%;
                display: inline-block;
                float: left;
                margin-bottom: $margin-base;
                > .form-label {
                    width: 100%;
                    font-size: $font-size-small;
                    color: #fff;
                    margin-bottom: $margin-wee;
                    float: left;
                }
                > input, select {
                    width: 100%;
                    border: 1px solid #c6c6c6;
                    color: rgba(255, 255, 255, .6);
                    padding-left: $padding-wee;
                    border-radius: 3px;
                    height: 30px;
                    background: transparent;
                }
                > input::placeholder {
                    color: rgba(255, 255, 255, .6);
                }
                > .form-select {
                    width: 100%;
                    > option {
                        background-color:rgba($color: #181717, $alpha: 0.3);
                    }
                }
                > .form-radio {
                    width: 12px;
                    height: 12px;
                    -webkit-appearance: none;
                    background: #fafafa;
                    float: left;
                    border: 1px solid #cacece;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
                    padding: 9px;
                    border-radius: 50px;
                    display: inline-block;
                    position: relative;
                    // outline: none;
                    :checked {
                        border-radius: 50px;
                        position: absolute;
                        top: 3px;
                        background: #e9ecee;
                        color: #99a1a7;
                        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
                        text-shadow: 0px;
                        left: 30px;
                        font-size: 32px;
                        border: 1px solid blue;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
                    }
                    // :checked:after{
                    //     border: 1px solid red;
                    //     content: ' ';
                    //     width: 12px;
                    //     height: 12px;
                    //     border-radius: 50px;
                    //     position: absolute;
                    //     top: 3px;
                    //     background: #99a1a7;
                    //     box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
                    //     text-shadow: 0px;
                    //     left: 3px;
                    //     font-size: 32px;
                    // }
                    // :active, :checked:active {
                    //     border: 1px solid green;
                    //     box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
                    // }
                }
                > .form-radio-label {
                    float: left;
                    margin-top: 7px;
                    margin-right: $margin-base;
                    font-size: $font-size-small;
                    color: #fff;
                }
                > .form-checkbox {
                    width: 12px;
                    height: 12px;
                    float: left;
                    margin: 0;
                }
                > .form-checkbox-label {
                    font-size: $font-size-wee;
                    color: #fff;
                    float: left;
                    margin-left: $margin-tiny;
                }
            }
            .-border-bottom {
                padding-bottom: $padding-base;
                border-bottom: 1px solid #797979;
            }
            > .form-buttom {
                background-color: #b71d3e;
                color: #fff;
                text-transform: uppercase;
                text-align: cente;
                width: 100%;
                border: none;
                padding: $padding-wee;
                margin-bottom: $margin-base;
            }
            > .politica {
                font-size: $font-size-wee;
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    > .infos {
        color: #fff;
        margin-left: $margin-wee;
        font-family: $font-family-base;
        > .title {
            text-transform: uppercase; 
            font-size: $font-size-h1;
            margin-bottom: $margin-small;
        }
        > .infos-details {
            display: block;
            margin-bottom: $margin-small;
            > span {
                display: block;
                width: 100%;
            }
            > .-font-small {
                font-size: $font-size-h6;
            }
            > .-font-base {
                font-size: $font-size-h3;
            }
            .-font-large {
                font-size: $font-size-h2;
            }
            > .-upercase {
                text-transform: uppercase;
            }
        }
        > .consulte {
            font-size: $font-size-wee;
            color: #fff;
            text-decoration: none;
        }
    }
}
